body::before {
    display: block;
    content: '';
    height: 60px;
}

.card-text-font {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-img-top {
    height: 300px;
    object-fit: auto;
}

.bg-dark-blue-1 {
    background-color: #1a1a2e;
}

.bg-dark-blue-2 {
    background-color: #030438;
}

.bg-vibrant-blue {
    background-color: #0b0b81;
}

.text-vibrant-blue {
    color: #0b0b81;
}

.bg-yellow-green {
    background-color: #bebe11;
}