
{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load crispy_forms_filters %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="text-center bg-dark-blue-2 text-light float pt-3" style="min-height: 100vh;">
    <h1>{% trans "Social Sign In/Up Error" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You have not linked up your {{provider_name}} account to login to
    TaskTrooper.<br> To login using {{provider_name}}, please sign-in using username/email and password, then go to "My Socials" and link your {{provider_name}} account.{% endblocktrans %}</p>
</div>
<!-- <div class="row">
    <div class="col-md-6 offset-md-3">
            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid">
                <button class="btn btn-dark mt-2" type="submit">{% trans "Sign Up" %}</button>
            </div>
        </form>
    </div>
</div> -->
{% endblock %}