{% extends "main/layout.html" %}
{% load static %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark-blue-1 py-3 fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:home' %}">
        <span class="text-warning">
        TaskTrooper
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav justify-content-start">
          <li class="nav-item">
            <a href="{% url 'core:myprojects' %}" class="nav-link">View Projects</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto align-items-center justify-content-between">
          <li class="nav-item">
            <span class="text-warning">Hi, {{ user.first_name }}!</span>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link"><span class="btn btn-primary btn-sm">Logout</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Welcome -->
  <section class="bg-dark-blue-2 text-light text-center text-sm-start p-5 p-lg-0 pt-lg-5" style="height: 100vh;">
    <div class="container py-5">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Add Project</button>
      </form>
    </div>
  </section>
{% endblock %}