{% extends "main/layout.html" %}
{% load static %}

{% block title %}
  TaskTrooper
{% endblock %}

{% block body %}
  <!-- Navbar -->
  {% include "core/navbarlayout.html" %}

  <!-- Welcome -->
  <section class="bg-dark-blue-2 text-light text-center text-sm-start p-5 pt-lg-5" style="height: 100vh;">
    <div class="container">
      <div class="align-items-center justify-content-between">
        <div>
          <h1>
            You have successfully logged in to
            <span class="text-warning">TaskTrooper</span>
          </h1>
          <p class="lead">
            A simple project management app
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}