{% extends "main/layout.html" %}
{% load static %}

{% block title %}
  My Projects
{% endblock %}

{% load crispy_forms_tags %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">
{% endblock %}

{% block body %}
<!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark-blue-1 py-3 fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:home' %}">
        <span class="text-warning">
        TaskTrooper
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav justify-content-start">
          <li class="nav-item">
            <a href="{% url 'core:myprojects' %}" class="nav-link">View Projects</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto align-items-center justify-content-between">
          <li class="nav-item">
            <span class="text-warning">Hi, {{ user.first_name }}!</span>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link"><span class="btn btn-primary btn-sm">Logout</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="bg-dark-blue-2 text-light text-center p-5 p-lg-0 pt-lg-5" style="height: 100vh;">
    <div class="container pb-3">
      <h1 class="display-4 fw-bold">Your Projects</h1>
    </div>
    <!-- Created Projects -->
    <div class="container">
      <p>Projects created by you:</p>
      {% for project in created_projects %}
        <div class="p-1">
          <a href="{% url 'core:project' project.id %}" class="btn btn-info btn-sm">
            <span class="fw-bold">
              {{ project.name }}
            </span>
          </a>
        </div>
      {% empty %}
        <p>No projects created</p>
      {% endfor %}
    </div>
    <!-- Joined Projects -->
    <div class="container">
      <p>Projects you joined:</p>
      {% for project in joined_projects %}
        <div class="p-1">
          <a href="{% url 'core:project' project.id %}" class="btn btn-info btn-sm">
            <span class="fw-bold">
              {{ project.name }}
            </span>
          </a>
        </div>
      {% empty %}
        <p>No projects joined</p>
      {% endfor %}
    </div>
    <div class="pt-3">
      <a href="{% url 'core:addproject' %}" class="btn btn-success btn-lg">
        <span class="fw-bold">
          + Add Project
        </span>
      </a>
    </div>
  </section>
{% endblock %}