{% extends "main/layout.html" %}

{% load permissions_tags %}

{% load static %}

{% block title %}
  {{ project.name }} 
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">

  <!-- Marked: Move javascript to different file -->
  <script>
    function copyInviteLink() {
      const inviteLinkInput = document.getElementById("invite_code");
      const inviteCode = inviteLinkInput.value;
  
      // Construct the formatted invite link
      const websiteURL = window.location.origin;
      const formattedLink = `${websiteURL}/app/myprojects/${inviteCode}/join`;
  
      // Create a temporary input element to copy the formatted link to the clipboard
      const tempInput = document.createElement("input");
      tempInput.value = formattedLink;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
  
      // Alert the current user that the invite link has been copied to the clipboard
      alert("Invite link copied to clipboard: " + formattedLink);
    }
  </script>
{% endblock %}

{% block body %}

  <!-- Loads and stores the permissions the user has -->
  {% has_permission user "read" project.id as user_has_read_permission %}
  {% has_permission user "add_users" project.id as user_has_add_users_permission %}
  {% has_permission user "create_tasks" project.id as user_has_create_tasks_permission %}
  {% has_permission user "modify_tasks" project.id as user_has_modify_tasks_permission %}
  {% has_permission user "delete_tasks" project.id as user_has_delete_tasks_permission %}
  {% has_permission user "modify_other_users_permissions" project.id as user_has_modify_other_users_permissions %}
  {% has_permission user "delete_users" project.id as user_has_delete_users_permission %}
  {% has_permission user "delete_project" project.id as user_has_delete_project_permission %}
  {% has_permission user "creator" project.id as user_has_creator_permission %}

  {% include "core/navbarlayout.html" %}
  {% include "core/sidebarlayout.html" with user_has_modify_other_users_permissions=user_has_modify_other_users_permissions user_has_delete_project_permission=user_has_delete_project_permission %}

  <section class="bg-dark-blue-2 text-light text-center p-5 p-lg-0 pt-lg-5" style="height: 100vh;">
    <div class="container pb-3">
        <h1 class="display-4 fw-bold">Project Name: {{ project.name }}</h1>
        <div class="text-start">
          <p>Click on the task's name to view it's description.</p>
        </div>
    </div>
    <div class="container">
      <table class="table text-light" data-toggle="table">
        {% if tasks %}
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name of Task</th>
              <th scope="col">Assigned Users</th>
              <th data-sortable="true" scope="col">Start Date & Time</th>
              <th data-sortable="true" scope="col">End Date & Time</th>
              <th scope="col">Files</th>
              <th data-sortable="true" scope="col">Status</th>
              {% if user_has_modify_tasks_permission %}
                <th scope="col">Actions</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'core:taskproperties' project.id task.id %}" class="nav-link">{{ task.name }}</a></td>
                <td>
                  {% for user in task.users.all %}
                    <div>{{ user.username }}</div>
                  {% endfor %}
                </td>
                <td>{{ task.start_datetime }}</td>
                <td>{{ task.end_datetime }}</td>
                <td>
                  {% for file in task.task_files.all %}
                    <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:"files/" }}</a><br>
                  {% endfor %}
                </td>
                <td class="{% if task.status == 'Not yet started' %}status-not-started{% elif task.status == 'In-process' %}status-in-process{% elif task.status == 'Completed' %}status-completed{% endif %}">{{ task.status }}</td>
                {% if user_has_modify_tasks_permission %}
                  <td>
                    {% if user_has_delete_tasks_permission %}
                      <a href="{% url 'core:deletetask' project.id task.id %}" class="nav-link p-1"><span class="btn btn-danger btn-sm">Delete</span></a>
                    {% endif %}
                    {% if user_has_modify_tasks_permission %}
                      <a href="{% url 'core:changetaskstatus' project.id task.id %}" class="nav-link p-1"><span class="btn btn-info btn-sm">Change Status</span></a>
                      <a href="{% url 'core:modifytask' project.id task.id %}" class="nav-link p-1"><span class="btn btn-info btn-sm">Modify Task</span></a>
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        {% else %}
          <tr>
            <td colspan="6">No tasks found.</td>
          </tr>
        {% endif %}
      </table>
    </div>
    {% if user_has_create_tasks_permission %}
      <div class="pt-5">
        <a href="{% url 'core:addtask' project.id %}" class="btn btn-success btn-lg">
          <span class="fw-bold">
            + Add Task
          </span>
        </a>
      </div>
    {% endif %}
    {% if user_has_add_users_permission %}
      <form>
        <div class="form-group pt-5 pb-3">
            <label for="invite_code">Invite Code:</label>
            <input type="text" id="invite_code" name="invite_code" value="{{ project.invite_code }}" readonly>
        </div>
        <button type="submit" class="btn btn-info btn-sm" onclick="copyInviteLink()">Copy Invite Link</button>
      </form>
    {% endif %}

  </section>
{% endblock %}