{% extends "main/layout.html" %}
{% load static %}

{% block title %}
  TaskTrooper
{% endblock %}

{% block body %}
  <!-- Navbar -->
  {% include "core/navbarlayout.html" %}

    <section class="bg-dark-blue-2 text-light text-center text-sm-start p-5 p- pt-lg-5" style="height: 100vh;">
      <div class="container">
        <div class="align-items-center justify-content-between">
          <p> Task Name: {{ task.name }}</p>
          <p> Task Users: 
            {% for user in task.users.all %}
              {{ user.username }}
              {% if not forloop.last %},{% endif %}
            {% endfor %}
          </p>
          <p> Task Description:</p>
          <p class="pb-5"> &nbsp;&nbsp;&nbsp;&nbsp; {{ task.description }}</p>
          <p> Task Start Date and Time: {{ task.start_datetime }}</p>
          <p> Task End Date and Time: {{ task.end_datetime }}</p>
          <p> Task Status: {{ task.status }}</p>
        </div>
      </div> 
    </section>
{% endblock %}