{% extends "main/layout.html" %}
{% load permissions_tags %}
{% load static %}

{% block title %}
  {{ project.name }} 
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">
{% endblock %}

{% block body %}

  <!-- Loads and stores the permissions the user has -->
  {% has_permission user "read" project.id as user_has_read_permission %}
  {% has_permission user "add_users" project.id as user_has_add_users_permission %}
  {% has_permission user "create_tasks" project.id as user_has_create_tasks_permission %}
  {% has_permission user "modify_tasks" project.id as user_has_modify_tasks_permission %}
  {% has_permission user "delete_tasks" project.id as user_has_delete_tasks_permission %}
  {% has_permission user "modify_other_users_permissions" project.id as user_has_modify_other_users_permissions %}
  {% has_permission user "delete_users" project.id as user_has_delete_users_permission %}
  {% has_permission user "delete_project" project.id as user_has_delete_project_permission %}
  {% has_permission user "creator" project.id as user_has_creator_permission %}

  {% include "core/navbarlayout.html" %}
  {% include "core/sidebarlayout.html" with user_has_modify_other_users_permissions=user_has_modify_other_users_permissions user_has_delete_project_permission=user_has_delete_project_permission %}

  <section class="bg-dark-blue-2 text-light text-center p-5 p-lg-0 pt-lg-5">
    <div class="container pb-3">
      <h1>Bulk Modify Permission</h1>
      <form method="post">
        {% csrf_token %}
        {{ form_modify_permissions.as_table }}
        <button type="submit">Update Permissions</button>
      </form>
    </div>
  </section>

  <section class="bg-dark-blue-2 text-light text-center p-5 p-lg-0 pt-lg-5">
    <div class="container">
        <table class="table text-light" data-toggle="table">
          {% if users %}
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th data-sortable="true" scope="col">Permission</th>
                <th data-sortable="true" scope="col">Permission Level</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ user.username }}</td>
                  <td>
                    {% with project_permission=user.project_permissions.first %}
                      {% if project_permission %}
                        {{ project_permission.get_permission_display }}
                      {% else %}
                        No permission found
                      {% endif %}
                    {% endwith %}
                  </td>
                  <td>
                    {% with project_permission=user.project_permissions.first %}
                      {% if project_permission %}
                        {{ project_permission.permission_level }}
                      {% else %}
                        N/A
                      {% endif %}
                    {% endwith %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          {% else %}
            <tr>
              <td colspan="6">No users found.</td>
            </tr>
          {% endif %}
        </table>
      </div>
  </section>

  {% if user_has_delete_users_permission %}
    <section class="bg-dark-blue-2 text-light text-center p-5 p-lg-0 pt-lg-5" style="height: 100vh;">
      <div class="container pb-3">
        <h1>Bulk Remove Users</h1>
        <form method="post">
          {% csrf_token %}
          {{ form_delete_users.as_table }}
          <button type="submit" class="btn btn-danger btn-sm">Remove Users</button>
        </form>
      </div>
    </section>
  {% endif %}
  
{% endblock %}