.bg-dark-blue-1 {
    background-color: #1a1a2e;
}

.bg-dark-blue-2 {
    background-color: #030438;
}

.bg-vibrant-blue {
    background-color: #0b0b81;
}

.text-vibrant-blue {
    color: #0b0b81;
}

.bg-yellow-green {
    background-color: #bebe11;
}

.float {
    margin-top: -20px;
}